<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta title="Pacemaker UI"> <!--Come up with cool name here-->
        <meta name="description" content="DCM User Interface For Communication And Control Of The Pacemaker">
        <meta name="author" content="Graham Power">
        <meta name="author" content="Hamza Ashraf">
    </head>

    <body>
        <h1>Basic Flask App For 3K04 Pacemaker Group</h1>
        <br>
        <p>This is a basic homepage for the Pacemaker DCM UI</p>
    </body>
</html>