<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta title="Pacemaker UI"> <!--Come up with cool name here-->
        <meta name="description" content="DCM User Interface For Communication And Control Of The Pacemaker">
        <meta name="author" content="Graham Power">
        <meta name="author" content="Hamza Ashraf">
        
        <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/styles.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
    </head>

    <body>
        

        <div class="container main">
            <!-- child template -->


            <div class="justify-center">
                <h1>Pacemaker History For TestUser</h1>
            </div>
            
            <div class="justify-center">
                <table class="justify-center">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Param_1</th>
                            <th>Param_2</th>
                            <th>Param_N</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>imadate</td>
                            <td>val1</td>
                            <td>val2</td>
                            <td>valn</td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </body>
</html>