{% extends "base.html" %}
{% block content %}

{% include "nav.html" %}

<script>
    document.getElementById("connect").classList.add("active");
</script>

<form action="" method="post" class="justify-center" style="padding-top: 1rem;" name="pacemode">
            
                
    <select name="Pacing Mode" id="pacemode" class="btn btn-danger dropdown" id="pacemode">
        <option value="" disabled {% if mode==None %} selected="selected" {% endif %}>Select Pacing Mode</option>
        {% for option in modes  %}
            <option value="{{ option }}" {% if mode== option %} selected="selected" {% endif %}>{{ option }}</option>
        {% endfor %}
    </select>
</form>

{% if mode != None %}
<form action="" method="post" id="param-form">

    <script>
        var form = document.getElementById('param-form');

        var input = document.createElement('oldval');
        input.setAttribute('name', 'OldMode');
        input.setAttribute('value', '{{ mode }}');
        input.setAttribute('type', "hidden");

        form.appendChild(input);
    </script>
    <input type="text" placeholder="{{ mode }}" name="Mode" value="{{ mode }}" style="display: none;">

    {% for parameter in parameters %}
        {% with name_spaced=parameter, value=parameters[parameter], limits=limits %}
            {% include "parameter_form_item.html" %}
        {% endwith %}
    {% endfor %}

    <div class="form-group">
        <input type="submit" class="btn btn-primary btn-block btn-lg" value="Save" id="form">
    </div>
{% endif %}

<script>

    document.getElementById("pacemode").addEventListener("change", function (event) {
        document.forms["pacemode"].submit();
    });

</script>

{% endblock %}