{% extends "base.html" %}
{% block content %}

{% include "nav.html" %}

<script>
    document.getElementById("connect").classList.add("active");
</script>

<form action="" method="post" class="justify-center" style="padding-top: 1rem;" name="pacemode">
            
                
    <select name="Pacing Mode" id="pacemode" class="btn btn-danger dropdown" id="pacemode">
        <option value="" disabled {% if mode=="None" %} selected="selected" {% endif %}>Select Pacing Mode</option>
        <option value="AOO" {% if mode=="AOO" %} selected="selected" {% endif %}>AOO</option>
        <option value="VOO" {% if mode=="VOO" %} selected="selected" {% endif %}>VOO</option>
        <option value="AAI" {% if mode=="AAI" %} selected="selected" {% endif %}>AAI</option>
        <option value="VVI" {% if mode=="VVI" %} selected="selected" {% endif %}>VVI</option>
    </select>
</form>

<script>

    document.getElementById("pacemode").addEventListener("change", function (event) {
        console.log('testing 1 2 3...');
        document.forms["pacemode"].submit();
    });

</script>

{% endblock %}